/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/
body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  position:relative;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}



header {
  background-color: rgb(37, 37, 37);
  color: rgb(42, 171, 226);
  justify-content: space-between;
  height: 50px;
  width: 100%;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
}

header h2 {
  font-size: 25px;
}

.nav-links {
  justify-content: space-between;
  width: 33%;
  font-size: 13px;
  color: white;
}

.nav-links a {
  margin-right: 5px;
}

main {
  height: 170vh;
  position: relative;
}

#hero {
  height: calc(100% - 90px);
  width: 100%;
  position: absolute;
  top: 50px;
}

#desc {
  height: 100%;
  width: 66%;
  justify-content: space-around;
}

/* sidebar section  */

#sidebar {
  height: 100%;
  width: 34%;
  box-sizing: border-box;
  padding: 10px;
}

#profile {
  justify-content: space-evenly; 
  align-items: center;
  height: 230px;
}

#profile h4 {
  font-size: 20px;
  font-weight: 650;
}

#pop-articles {
  justify-content: space-evenly; 
  align-items: center;
  height: 240px;
  box-sizing: border-box;
}

#pop-articles h5 {
  font-size: 16px;
  font-weight: 900;
}

.art-list {
  align-items: baseline;
  justify-content: space-evenly;
  line-height: 20px;
}

ol li {
  font-size: 10px;
  margin-left: 6px;
  font-weight: 600;
}


.shadow-box {
  box-shadow: 0 0 30px 7px rgba(102, 75, 75, .3);
  margin: 20px 10px 10px 10px;
  width: 200px;
}

#profile-pic {
  width: 80%;
}

/* desc section  */

#desc { 
  padding: 25px 30px 0 150px;
  box-sizing: border-box;
  align-items: baseline;
  justify-content: space-between;
}

#skills-check {
  height: 70%;
  width: 100%;
}

#skills-check h3 {
  font-size: 18px;
  font-weight: 800;
  margin: 15px 0;
}

#skills-check p {
  font-size: 17px;
  padding: 0 10px 0 0;
}

#image-gallery {
  height: 30%;
  width: 100%;
  position: relative;
  margin-top: 30px;
}

#image-gallery h3 {
  margin-bottom: 10px;
  font-weight: 800;
}

#image-gallery a {
  font-size: 10px;
  position:absolute;
  right: 60px;
  top: 20px;
  color:rgb(42, 171, 226)
}

#image-prev {
  width: 100%;
  height: 80%;
  justify-content: space-between;
  align-items: center;
}
.img-row {
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
  padding-right: 50px;
}

.preview-img {
  width: 130px;
  height: 100px;
  margin: 0 10px;
}

#footer { 
  height: 40px;
  width: 100%;
  background-color:rgb(42, 171, 226);
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

#footer h5 {
  font-size: 12px;
  font-weight: 700;
}

#help-icon {
  width: 23px;
  position:fixed;
  z-index: 20;
  bottom: 10px;
  right: 10px;
}